{$SENSEI_GITHUB_HOSTNAME} {
	encode zstd gzip

	@health path /healthz /readyz
	header @health Cache-Control "no-store"

	reverse_proxy sensei-github-app:8080

	log {
		output stdout
		format json
	}
}
